body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
}

ol, ul {
  padding-left: 30px;
}

.board-container {


}

.board {

  display: grid;
  grid-template-rows: 30vmin 30vmin 30vmin;
}

.board-row {
  display: grid;
  grid-template-columns: 30vmin 30vmin 30vmin;
}

.status {
  margin-bottom: 10px;
}

.square {
  font-size: 20vmin;
  border: black 1px solid;
  background: #666699;
  font-weight: bold;
  width: 100px;
  height: 100px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
